
body {
    margin: 0px;
}
header {
    background-color:#ffebcd;
    color:#808080;
    text-align:center;
    padding:1px;
    font-family: sans-serif;
   }
nav {
    line-height:38px;
    background-color:#eee;
    height:750px;
    width:200px;
    float:left;
    padding:10px;
    font-family: sans-serif; 
}
section {
   width:1200px;
    float:left;
    padding:1px;
    font-family: sans-serif;
    text-align: left;
}
footer {
    background-color:#ffebcd;
    color:#808080;
    text-align:center;
    clear: both;
    padding:1px;
    font-family: sans-serif;
}
menu li {
    display: block;
    line-height:38px;
    padding:0;
}

 menu li a{
    background-color: #808080;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

menu li a:hover {
    background-color: #ffebcd;
}
.column {
    float: left;
    padding: 90px;
}
form {
    width: 1200px;
    float: left;
    padding: 8px;
    text-align: left;
    line-height: 40px;
}
image{
    width:304px;
    height:228px;
    margin-top:200px;
}

